<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evolução da Parada</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/images/icon/valeFavIcon.jpg" type="image/x-icon"> <!-- Adiciona o favicon -->
    </head>
    <body>
        <header>
            <img src="/static/images//icon/valeFavIcon.jpg" alt="Logo da Vale" class="logo">
            <h1 class="Titulo">Evolução da Parada Fria 1</h1>
            <br>
                <br>   
            <img src="/static/images/curva/20240730 - Curva da PF4 2024.png" alt="Curva S" class="curva-image">
        </header>
        <div class="Frentes"> Frentes de Trabalho</div>
        <br>
            <br>
        <div class="dashboard" id="dashboard"></div>
        <script src="/static/js/script.js"></script>
    </body>
</html>